# CODEOWNERS：所有 PR 默认请求 @Anthoooooooony review
# 语法参考 https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners

* @Anthoooooooony
